Podfile.lock
Pods
theOfficeKeg.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
Cartfile.resolved
*.bcsymbolmap
*/Stripe.framework.dSYM/
Carthage/Checkouts/
Carthage/Build/*
Carthage/Build/iOS/Stripe.framework.dSYM/
